body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.corner-images {
    position: fixed;
    max-width: 20%;
    max-height: 20%;
    z-index: 1; /* Set a higher z-index for the images */
}

.top-left {
    top: 10%;
    left: 5%;
}

.top-right {
    top: 10%;
    right: 5%;
}

.bottom-left {
    bottom: 10%;
    left: 5%;
}

.bottom-right {
    bottom: 10%;
    right: 5%;
}

.smaller-font {
    font-size: 1em;
    position: relative; /* Ensure a stacking context for relative positioning */
}

header {
    margin-top: 2%;
}

.header-text {
    font-size: 2em;
    position: relative; /* Ensure a stacking context for relative positioning */
}

.center-text {
    text-align: center;
    font-size: 1.5em;
    margin: 20px;
    margin-top: 5%;
    position: relative; /* Ensure a stacking context for relative positioning */
}

footer {
    margin-top: auto;
    margin-bottom: 5%;
}

.footer-text {
    font-size: 1em;
    text-align: center;
    position: relative; /* Ensure a stacking context for relative positioning */
}
