body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.corner-images {
    position: fixed;
    max-width: 20%;
    max-height: 20%;
}

.top-left {
    top: 10%;
    left: 5%;
}

.top-right {
    top: 10%;
    right: 5%;
}

.bottom-left {
    bottom: 10%;
    left: 5%;
}

.bottom-right {
    bottom: 10%;
    right: 5%;
}

.smaller-font {
    font-size: 0.8em;
}

header {
    margin-top: 5%;
}

.header-text {
    font-size: 2em;
}

.center-text {
    text-align: center;
    font-size: 2em;
    margin: 20px;
}

footer {
    margin-top: auto;
    margin-bottom: 5%;
}

.footer-text {
    font-size: 1em;
    text-align: center;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .corner-images {
        display: none; /* Hide corner images on smaller screens */
    }

    .center-text {
        position: relative; /* Set text to be in front of the images */
        z-index: 1; /* Ensure text is in front of the images */
    }
}
