body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* You can use 'cover' if you prefer a different behavior */
}
